{{- $page := .page }}
{{- $content := .content }}
{{ $pageVersion := $page.Page.Scratch.Get "version" }}


{{- with $page }}
    <article class="default">
      {{- partial "deprecated.html" . }}
      {{- partial "in-development.html" . }}
      <hgroup>
      <h1>{{ replace .Title "{{ pageVersion }}" $pageVersion | markdownify }}</h1>
      </hgroup>
      {{ $content | safeHTML }}
      <nav class="pagination">
        {{- partial "content-footer.html" . }}
      </nav>
    </article>
{{- end }}
