.DS_Store
.vscode/
.idea/
/tmp/
node_modules/
*.pyc
/.vs

/site/data/*/api-docs.json
/site/public/
/site/resources/
/migration-tools/scripts/*/*.tar.gz
/migration-tools/migration/structure.py
/migration-tools/migration/*.txt
/migration-tools/scripts/urls.json
/toolchain/arangoproxy/cmd/arangoproxy
/toolchain/docker/config.yaml
/toolchain/arangoproxy/cmd/configs/local.yaml
/summary.md

# Local Netlify folder
.netlify
