{{- $page := .page }}
{{- if hasPrefix $page.Path "/arangodb/" }}
  {{- $versions := index site.Data.versions "/arangodb/" }}
  {{- $coreVersion := index (split $page.Path "/") 2 }}
  {{- range $i, $version := $versions }}
    {{- if or (eq $coreVersion $version.name) (eq $coreVersion $version.alias) }}
      {{- $page.Store.Set "version" $version.version }}
      {{- $page.Store.Set "versionShort" $version.name }}
      {{- $page.Store.Set "alias" $version.alias }}
      {{- $page.Store.Set "deprecated" $version.deprecated }}
      {{- $page.Store.Set "inDevelopment" $version.inDevelopment }}
      {{- break }}
    {{- end }}
  {{- end }}
{{- end }}
