{{- $page := .page }}
{{- $versions := site.Data.versions }}
{{- range $version := $versions }}
  {{- if eq $page.Type $version.name }}
    {{- $page.Scratch.Set "version" $version.version }}
    {{- $page.Scratch.Set "versionShort" $version.name }}
    {{- $page.Scratch.Set "alias" $version.alias }}
    {{- $page.Scratch.Set "deprecated" $version.deprecated }}
    {{- template "checkVersionIsInDevelopment" dict "page" $page "pageVersion" $version.name "versions" $versions }}
  {{- end }}
{{- end }}

{{- define "checkVersionIsInDevelopment" }}
  {{- $page := .page }}
  {{- $pageVersion := .pageVersion }}
  {{- $versions := index (where .versions "alias" "stable") 0 }}
  {{- $page.Scratch.Set "stableVersion" $versions.name }}

  {{- $stableVersion := split $versions.name "." }}
  {{- $currentVersion := split $pageVersion "." }}

  {{- range $j, $elem := $stableVersion }}
    {{- $intStable := int $elem }}
    {{- $currentVersionElement := index $currentVersion $j }}
    {{- $intCurrent := int $currentVersionElement }}
    {{- if gt $intCurrent $intStable }}
      {{- $page.Scratch.Set "underDevelopment" true }}
    {{- end }}
  {{- end }}
{{- end -}}
