<!DOCTYPE html>
<html>
{{- partialCached "head.html" . }}
<body>
    <div id="page-wrapper" class="page_content_splash" style="height: auto;">
      <section id="page-main">
        <section class="page-container">
            {{- partialCached "header.html" . }}
            {{- partialCached "menu.html" .}}
            <div class="container-main">
                <div class="row-main">
                    {{- partialCached "breadcrumb.html" . }}
                    {{- partialCached "toc.html" . }}
                    {{- block "main" . }}

                    {{- end }}
                </div>
                {{- partial "footer.html" . }}
            </div>
        </section>
      </section>
    </div>
</body>
</html>