{{ partial "shortcodes/version.html" (dict "page" .Page) -}}
{{ $isProduction := eq site.BaseURL "https://docs.arango.ai" -}}

<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}">
  {{ partial "head.html" . -}}
  <body>
    {{ if $isProduction }}{{ partialCached "tracking/body-start.html" . }}{{ end -}}
    <noscript>You need to enable JavaScript to use the Arango documentation.</noscript>
    <section class="page-main">
      <section class="page-container">
        {{ partialCached "header.html" . -}}
        <nav class="main-nav" aria-label="Main"></nav>
        <div class="container-main">
          <div class="row-main">
            {{ if gt (len .Page.Ancestors) 1 }}{{ partial "breadcrumbs.html" . }}{{ end -}}
            {{ block "main" . }}{{ end -}}
            {{ partial "toc.html" . -}}
          </div>
        </div>
      </section>
    </section>
    {{ partialCached "back-to-top.html" . -}}
    {{ partialCached "search.html" . -}}
  </body>
</html>
{{- /* Trigger validation at the end of the build once */ -}}
{{ if .IsHome -}}
  {{ with templates.Defer -}}
    {{ partial "openapi-validate.html" (dict "key" "global") -}}
  {{ end -}}
{{ end -}}