<section class="page-container" id="page-container">
  <div class="container-main">
    <div class="notfound">
      <div class="flex-block-wrapper">
        <div class="notfound-404">
          <p class="notfound-4">4</p>
          <img id="notfound-image" src="{{ "images/sad-avocado.png" | relURL }}" alt="Page not found!">
          <p class="notfound-4">4</p>
        </div>
        <hgroup>
          <h3 style="text-align: center;">Oops… Avocados are not growing here</h3>
        </hgroup>
        <p style="text-align: center;">
          <a href="/stable/" class="link">Back to Home</a>
        </p>
      </div>
    </article>
  </div>
</section>
