{{- $versions := index site.Data "versions" }}
{{- $stableVersion := (index (where $versions "alias" "stable") 0).name }}
{{- .Scratch.Set "stableVersionName" $stableVersion -}}
<!DOCTYPE html>
<html>
  <head>
    <base target="_top" />
    <title>Navigation</title>
    <link href="{{ "css/nav.css" | relURL }}" rel="stylesheet" />
    {{/* <script src="{{"js/nav.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script> */}}
  </head>
  <body>
    <nav class="main-nav" aria-label="Main">
      {{- template "nav-tree" . }}
    </nav>
    <script>
      Array.from(document.querySelectorAll(".main-nav .section + ul")).forEach( e => {
        e.classList.add("hidden");
      });
      document.querySelector(".main-nav").addEventListener("click", ev => {
        if (ev.target.tagName === "A" && ev.target.classList.contains("section")) {
          ev.preventDefault();
          ev.target.nextElementSibling.classList.toggle("hidden");
        }
      });
    </script>
  </body>
</html>

{{- define "nav-tree" }}
  {{- $stableVersion := .Scratch.Get "stableVersionName" }}
  {{- $pages := .Sections | union .Pages }}
  {{- range $page := $pages.ByWeight }}
    {{- if ne $page.RelPermalink "/hooks/" }}
      {{- $menuTitle := $page.Params.menuTitle }}
      {{- $isVersionRoot := eq (len $page.Ancestors) 1 }}
      {{- if $isVersionRoot }}{{ $hideVersion := ne $menuTitle $stableVersion }}
      <ul class="version{{ if $hideVersion }} hidden{{ end }}"{{ if $hideVersion }} aria-hidden="true"{{ end }} data-version="{{ $menuTitle }}">
        {{- template "nav-tree" $page }}
      </ul>
      {{- else }}
        <li>{{/* TODO: Set title attribute? */}}
          <a href="{{ $page.RelPermalink }}"{{ if $page.Pages }} class="section"{{ end }}>{{ $menuTitle | markdownify }}</a>
          {{- if $page.Pages }}
          <ul>
            {{- template "nav-tree" $page }}
          </ul>
          {{- end }}
        </li>
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
