<div id="sidebar" class="default-animation active">
  <div class="sidenav-container-flex">
    <div class="sidenav-navigation">
      <div id="content-wrapper" class="highlightable">
        <ul class="topics{{ if .Site.Params.collapsibleMenu }} collapsible-menu{{ end }}">
          {{- range .Site.Sections.ByWeight }}
            {{/* version folders */}}
            {{- if ne .Type "hooks" }}
              <ul class="version-menu {{ .Type }} {{ .Store.Get "alias" }}">{{/* TODO: hide non-stable versions by default? */}}
                {{- template "section-tree-nav" . }}
              </ul>
            {{- end }}
          {{- end }}
        </ul>
        <div class="footermargin footerLangSwitch footerVariantSwitch footerVisitedLinks footerFooter"></div>
      </div>
    </div>
  </div>
  <button id="sidebar-toggle-navigation" class="desktop-menu-toggle" onclick="showSidebarHandler();"></button>
</div>

{{- define "section-tree-nav" }}
  {{- $pages := .Pages }}
  {{- range $page := $pages.ByWeight }}
    {{- if $page.Pages }}
      {{- /* section (with child pages) */}}
      <li class="dd-item sect">
        <label class="closed"></label>{{- /*whitespace control */ -}}
        <a href="{{ .RelPermalink }}" class="toggle sect menu-link">
          <div class="menu-title">{{ .Params.menuTitle | markdownify }}</div>
        </a>
        <ul class="submenu">
          {{- template "section-tree-nav" $page }}
        </ul>
      </li>
    {{- else }}
      {{- /* page (or section without children) */}}
      <li class="dd-item leaf">
        <a href="{{ .RelPermalink }}" class="menu-link">
          <div class="menu-title">{{ .Params.menuTitle | markdownify }}</div>
        </a>
      </li>
    {{- end }}
  {{- end }}
{{- end }}
