
        {{- partialCached "stylesheet.html" . }}

    <div id="sidebar" class="default-animation active">
        <div class="sidenav-container-flex">
          <div class="sidenav-navigation">
  
        <div id="content-wrapper" class="highlightable">
          {{ partial "search.html" . }}
          
          <ul class="topics{{ if .Site.Params.collapsibleMenu }} collapsible-menu{{ end }}">
            {{- range .Site.Sections.ByWeight }}
              {{- template "section-tree-nav" dict "sect" . "currentnode" . }}
            {{- end }}
          </ul>
          <div class="footermargin footerLangSwitch footerVariantSwitch footerVisitedLinks footerFooter"></div>
          <hr class="default-animation footerLangSwitch footerVariantSwitch footerVisitedLinks footerFooter"/>
        </div>
          </div>
          </div>
        </div>
      {{- define "section-tree-nav" }}
        {{- $currentNode := .currentnode }}
        {{ $pageVersion := $currentNode.Page.Scratch.Get "version"  }}
        {{- $currentFileRelPermalink := .currentnode.RelPermalink }}
  
        {{- with .sect }}
          {{- $isSelf := eq .RelPermalink $currentFileRelPermalink }}
          {{- $isAncestor := and (not $isSelf) (.IsAncestor $currentNode) }}
          {{- $isActive := $isSelf }}
          {{- $pages := .Pages }}
          {{- if .Page.IsHome }}
            {{- $pages = .Sections }}
          {{- else if .Page.Sections}}
            {{- $pages = (.Pages | union .Sections) }}
          {{- end }}
          {{- if or .IsSection .IsHome }}
            {{- safeHTML .Params.head }}
            {{- if $pages }}
              {{ if and (ne .Params.menuTitle "3.10") (ne .Params.menuTitle "3.11") (ne .Params.menuTitle "3.12")}}
                {{ if eq .Layout "label" }}
                <li data-nav-id="{{.RelPermalink}}" title="{{replace .Title "{{ pageVersion }}" $pageVersion  | markdownify }}" class="dd-item{{if $isActive }} active{{end}}{{if (or $isSelf $isAncestor) }} parent{{end}}"><input type="checkbox" id="section-" class="toggle menu-label-entry"/><label for="section-" class="closed" >
                </label>
                  <a>
                    <div>{{replace .Title "{{ pageVersion }}" $pageVersion  | markdownify }}</div>
                    </a> 
                {{ else }}
                <li data-nav-id="{{.RelPermalink}}" title="{{replace .Title "{{ pageVersion }}" $pageVersion  | markdownify }}" class="dd-item menu-section-entry {{if $isActive }} active{{end}}{{if (or $isSelf $isAncestor) }} parent{{end}}"><input type="checkbox" id="section-" class="toggle"/><label for="section-" class="closed">
                </label>
                  <a href="{{.Permalink}}" class="toggle menu-section-entry" onclick="event.preventDefault();menuEntryClick(event)">{{replace .Title "{{ pageVersion }}" $pageVersion  | markdownify }}</a>
                {{ end }}
              {{ end }}
  
            <ul class='{{if or (eq .Params.menuTitle "3.10") (eq .Params.menuTitle "3.11") (eq .Params.menuTitle "3.12")}} version-menu {{ .Params.menuTitle }} {{ else }} submenu {{ end }}'>
                  {{- range $pages.ByWeight }}
                    {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
                  {{- end }}
                </ul>
              {{- else }}
  
            <li data-nav-id="{{.RelPermalink}}" test1 title="{{replace .Title "{{ pageVersion }}" $pageVersion  | markdownify }}" class="dd-item{{if $isActive }} active{{end}}"><a href="{{.Permalink}}" onclick="event.preventDefault();menuEntryClick(event)">{{replace .Title "{{ pageVersion }}" $pageVersion  | markdownify }}</a></li>
              {{- end }}
          {{- else }}
  
              <li data-nav-id="{{.RelPermalink}}" test2 title="{{replace .Title "{{ pageVersion }}" $pageVersion  | markdownify }}" class="dd-item{{if $isActive }} active{{end}} menu-leaf-entry"><a href="{{.Permalink}}" onclick="event.preventDefault();menuEntryClick(event)">{{replace .Title "{{ pageVersion }}" $pageVersion  | markdownify }}</a></li>
          {{- end }}
        {{- end }}
      {{- end }}