version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.4.0

parameters:
  workflow:
    type: enum
    enum: [no-op, plain-build, generate, compile, generate-scheduled, commit-generated, generate-oasisctl, create-docs-images-amd64, create-docs-images-arm64]
    default: no-op
  
  deploy-url:
    type: string
    default: $CIRCLE_BRANCH

  generators:
    type: string
    default: ""

  version:
    type: string
    default: ""

  arangodb-branch:
    type: string
    default: ""

  arangodb-3_10:
    type: string
    default: "undefined"

  arangodb-3_11:
    type: string
    default: "undefined"

  arangodb-3_12:
    type: string
    default: "undefined"

  commit-generated:
    type: boolean
    default: false

  create-pr:
    type: boolean
    default: False

  pr-branch:
    type: string
    default: ""

jobs:
  generate-config:
    docker:
      - image: cimg/python:3.11.1
    executor: continuation/default
    steps:
      - run:
          name: Checkout
          command: |
            mkdir -p .circleci && cd .circleci
            curl https://api.github.com/repos/arangodb/docs-hugo/contents/.circleci?ref=$CIRCLE_SHA1 | jq ".[].download_url" | xargs wget
            wget https://raw.githubusercontent.com/arangodb/docs-hugo/$CIRCLE_BRANCH/site/data/versions.yaml

            if [ "<< pipeline.parameters.workflow >>" == "plain-build" ]; then
              cat /home/circleci/project/.circleci/base_config.yml > /home/circleci/project/.circleci/generated_config.yml

            else
              pip install pyyaml requests

              python3 generate_config.py \
                --workflow << pipeline.parameters.workflow >> \
                --arangodb-branches << pipeline.parameters.arangodb-3_10 >> << pipeline.parameters.arangodb-3_11 >> << pipeline.parameters.arangodb-3_12 >> \

              echo "Generated Configuration"
              cat  /home/circleci/project/.circleci/generated_config.yml
            fi
      - store_artifacts:
          path: /home/circleci/project/.circleci/generated_config.yml
      - continuation/continue:
          configuration_path: /home/circleci/project/.circleci/generated_config.yml # use newly generated config to continue

workflows:
  setup:
    jobs:
      - generate-config
