version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.4.0

parameters:
  workflow:
    type: enum
    enum: [no-op, plain-build, generate, api-docs, release, compile, generate-scheduled, commit-generated, generate-oasisctl, create-docs-images-amd64, create-docs-images-arm64]
    default: no-op
  
  deploy-url:
    type: string
    default: $CIRCLE_BRANCH

  generators:
    type: string
    default: ""

  version:
    type: string
    default: ""

  arangodb-branch:
    type: string
    default: "undefined"

  arangodb-3_10:
    type: string
    default: "undefined"

  arangodb-3_11:
    type: string
    default: "undefined"

  arangodb-3_12:
    type: string
    default: "undefined"

  commit-generated:
    type: boolean
    default: false

  create-pr:
    type: boolean
    default: False

  pr-branch:
    type: string
    default: ""

  release-type:
    type: enum
    enum: [no-op, arangodb, docs]
    default: no-op

  arangodb-version:
    type: string
    default: ""
  
  docs-version:
    type: string
    default: ""

  tag:
    type: string
    default: ""

jobs:
  generate-config:
    docker:
      - image: cimg/python:3.11.1
    executor: continuation/default
    steps:
      - run:
          name: Checkout
          command: |
            mkdir -p .circleci && cd .circleci
            curl https://api.github.com/repos/arangodb/docs-hugo/contents/.circleci?ref=$CIRCLE_SHA1 | jq ".[].download_url" | xargs wget
            wget https://raw.githubusercontent.com/arangodb/docs-hugo/$CIRCLE_BRANCH/site/data/versions.yaml

            pip install pyyaml requests

            python3 generate_config.py \
              --workflow << pipeline.parameters.workflow >> \
              --arangodb-branches << pipeline.parameters.arangodb-3_10 >> << pipeline.parameters.arangodb-3_11 >> << pipeline.parameters.arangodb-3_12 >> \
              --arangodb-branch << pipeline.parameters.arangodb-branch >> \
              --release-type << pipeline.parameters.release-type >> \
              --docs-version << pipeline.parameters.docs-version >> \
              --arangodb-version << pipeline.parameters.arangodb-version >>

            echo "Generated Configuration"
      - store_artifacts:
          path: /home/circleci/project/.circleci/generated_config.yml
      - continuation/continue:
          configuration_path: /home/circleci/project/.circleci/generated_config.yml # use newly generated config to continue

workflows:
  setup:
    jobs:
      - generate-config
