{{- $page := .page }}
{{- $content := .content }}
{{ $pageVersion := $page.Page.Scratch.Get "version" }}

{{- with $page }}
    <article class="default">
      {{- partial "deprecated.html" . }}
      {{- partial "in-development.html" . }}
      <hgroup>
      <h1>{{ replace .Title "{{ pageVersion }}" $pageVersion | markdownify }}</h1>
      </hgroup>
      {{ with $content }}
         {{ . }}
      {{ else }}
          {{- template "generateSection" dict "section" $page "pageVersion" $pageVersion }}
      {{ end }}
      <nav class="pagination">
        {{- partial "content-footer.html" . }}
      </nav>
    </article>
{{- end }}

{{- define "generateSection" }}
{{ $section := .section }}
{{ $pageVersion := .pageVersion }}

<div class="cards">
  {{ range $section.Pages }}
  {{ $title := replace .Title "{{ pageVersion }}" $pageVersion | markdownify }}
  {{ $section.RelPermalink }}
  {{ .RelPermalink }}



  {{ $destinationPage := .Site.GetPage .Permalink -}}
  A {{ $destinationPage }}

    {{- partial "shortcodes/card.html" (dict
    "Inner" (.Description | markdownify)
    "title"  $title
    "link" .RelPermalink
    "context" $section
      ) }}  


  
  {{ end }}
</div>

{{ end }}
