{{ $yamlBlock := .Inner | transform.Unmarshal }}
{{ with $yamlBlock }}
<div class="openapi">
{{ range $path, $methods := .paths }}
  {{ range $method, $items := $methods }}
    <div class="endpoint">
      <span class="endpoint-method regular-font upper bold-text method-{{ $method }}">{{ $method }}</span>
      <span class="endpoint-path">{{ $path }}</span>
    </div>
    <div class="description regular-font">
      {{ $items.description | markdownify }}
    </div>
    <!-- Path Params-->
    {{ with .parameters }}
    <div class="openapi-parameters regular-font">
      <div class="openapi-table-title">
        Path Parameters
      </div>
      <div>
        <table class="openapi-table">
          <tbody>
            {{ range $k, $v := .}}
            <tr class="openapi-table-row regular-font">
              <td  class="regular-font"><code class="bold-text">{{ $v.name }}</code><br/>{{ $v.schema.type }}</td>
              <td class="regular-font openapi-table-description">
                {{ $descProvv := $v.description | truncate 70 }}
                {{if gt (len $v.description) 70}}
                    {{- partial "shortcodes/expand.html" (dict
                      "context" .
                      "content" $v.description
                      "open"    "open"
                      "title"   $descProvv
                    ) }}
                  {{ else }}
                    {{ $v.description }}
                  {{ end }}
                </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
    {{ end }}
    <!-- Request Body -->
    {{ with .requestBody }}
    <div class="openapi-parameters regular-font">
      <div class="openapi-table-title">
        Request Body
      </div>
      <div>
        <table class="openapi-table">
          <tbody>
            {{ range $k, $v := .content }}
              {{ range $prop, $value := $v.schema.properties}}
              <tr class="openapi-table-row regular-font">
                <td  class="regular-font"><code class="bold-text">{{ $prop }}</code><br/>{{ $value.type }}</td>
                <td class="regular-font openapi-table-description">
                  {{ $descProvv := $value.description | truncate 70 }}
                  {{if gt (len $value.description) 70}}
                    {{- partial "shortcodes/expand.html" (dict
                      "context" .
                      "content" $value.description
                      "open"    "open"
                      "title"   $descProvv
                    ) }}
                  {{ else }}
                    {{ $value.description }}
                  {{ end }}
                </td>
              </tr>
              {{ end }}
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
    {{ end }}
    <!--- Responses -->
    <div class="responses regular-font">
      <div class="openapi-table-title">Responses</div>
      <div>
        <div class="response-codes">
        {{ range $status, $info := .responses }}
            <button class="response-code">
              {{ $status }}
            </button>
        {{ end }}
        </div>
        {{ range $status, $info := .responses }}
            <div style="display: none;">
             <div>
               <span>
                <p> {{ $info }}</p>
               </span>
             </div>
            </div>
        {{ end }}
      </div>
    </div>
  {{end}}
{{end}}
</div>
{{ end }}
