.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 25%;
    max-width: 50%;
    padding: 18px;
    display: flex;
    min-height: 10px;
    flex-direction: column;
    position: relative;
    color: #202951;
    border: 1px solid #d7dee4!important;
    border-radius: 8px;
    /* height: 100%; */
    transition: .125s;
    margin: 0 1rem 1rem 0;
}

a.section-link {
    padding: 24px;
    display: flex;
    margin-top: 0;
    min-height: 10px;
    flex-direction: column;
    position: relative;
    color: #202951;
    border: 1px solid #d7dee4!important;
    border-radius: 8px;
    height: 100%;
    transition: .125s;
}

.card-head {
    position: relative;
    z-index: 2;
    display: flex;
    margin-bottom: 10px;
    flex-flow: column;
    min-height: 40px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
}

.card-icon {
    width: 40px;
    height: 40px;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}

.card-title {
    font-weight: 600;
    color: #0b1117;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'Euclid Circular A',Akzidenz,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 28px;
}

.card-body {
    font-size: 14px;
    line-height: 22px;
    color: #25323d;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    position: relative;
    z-index: 2;
}



.card-body > p {
    margin: unset;
    font-family: 'Euclid Circular A',Akzidenz,'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #001E2B;
    font-size: 16px;
    line-height: 28px;
    color: #001E2B;
    font-weight: 400;
}

