{{ $pagePath := .page }}
{{ $versions := index site.Data "versions" }}
{{ range $i, $version := $versions }}
    {{ if strings.Contains $pagePath $version.name }}
        {{ $pagePath.Page.Scratch.Add "version" $version.version }}
        {{ $pagePath.Page.Scratch.Add "versionShort" $version.name }}
        {{ $pagePath.Page.Scratch.Add "alias" $version.alias }}
        {{ $pagePath.Page.Scratch.Set "deprecated" $version.deprecated }}
        {{ template "checkVersionIsInDevelopment" dict "page" $pagePath "pageVersion" $version.name "versions" $versions }}
    {{ end }}
{{ end }}

{{- define "checkVersionIsInDevelopment" }}
{{ $page := .page }}
{{ $pageVersion := .pageVersion }}
{{ $versions := .versions }}

{{ range $i, $version := $versions }}
    {{ if eq $version.alias "stable" }}
        {{ $stableVersion := split $version.name "." }}
        {{ $currentVersion := split $pageVersion "." }}

        {{ range $j, $elem := $stableVersion }}
            {{ $intStable := int $elem }}
            {{ $currentVersionElement := index $currentVersion $j }}
            {{ $intCurrent := int $currentVersionElement }}
            {{ if gt $intCurrent $intStable }}
                {{ $page.Page.Scratch.Set "underDevelopment" true }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{- end }}
