
.autocomplete-suggestion {
    padding: 10px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    flex-direction: column;
    padding-bottom: 0;
}

.autocomplete-suggestion b {
    font-weight: normal;
    color: #1f8dd6;
}

.autocomplete-suggestion:hover {
    background: #577138;
    color: #fff;
}

.autocomplete-suggestion > .context {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display:none;
}

.autocomplete-suggestion.selected > .context {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
}

.suggestion-path {
    margin: 0;
    font-size: 10px;
}

.search-container {
    background-color: #343a46cc;
    display: flex;
    justify-content: center;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 20000;
    box-sizing: border-box;
}

.search-modal {
    background: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 48rem;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    margin: 1rem 0;
}

.search-results-container{
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.search-results-section {
    margin-bottom: 2rem;
}


.search-results-section > ul {
    margin: 0;
}

.search-results-section > hr {
    margin: 4px;
}

.search-results-section-title {
    text-transform: uppercase;
    letter-spacing: .025em;
    --tw-text-opacity: 1;
    color: var(--HEADERS-COLOR);
    font-weight: bold;
    padding-top: 0;
    padding-left: 1.25rem;
    margin: 0;
}

.autocomplete-suggestion > p {
    margin: 0;
    margin-left: 1rem;
}