.openapi {
    --border-radius: 2px;
    --layout: row;
    --scroll-bar-width: 8px;
    --nav-item-padding: 7px 16px 7px 10px;
    --resp-area-height: 400px;
    --font-size-mono: 13px;
    --font-size-regular: 14px;
    --dialog-z-index: 1000;
    --focus-shadow: 0 0 0 1px transparent, 0 0 0 3px rgba(125, 201, 3, 0.4);

    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    letter-spacing: normal;
    color: var(--fg);
    background-color: var(--bg);
    font-family: var(--font-regular);
}

.endpoint {
    text-align: left;
    direction: ltr;
    padding: 8px 0;
    color: var(--fg3);
    font-size: 1rem;
}

.regular-font {
    font-family: var(--font-regular);
}

.upper {
    text-transform: uppercase;
}

.bold-text {
    font-weight: bold;
}

.method-get {
    color: #47afe8
}

.method-post {
    color: #690;
}

.method-delete {
    color: #f06560;
}

.openapi-description {
    margin-top: 1em;
    margin-bottom: 2em;
}

.openapi-table {
    border: 1 solid #edf2f7;
    border-width: 3px;
    margin-top: 1rem;
    margin-left: 0;
}

.openapi-table > li {
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
}

.show-children {
    border: 1px solid #d0dadc;
    padding: 5px;
    border-radius: 6px;
    font-size: 13px;
}

.show-children.collapsed::before {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    font-size: 10px;
    color: grey;
}

.openapi-property-name {
    color: #3c4257;
    font-size: 14px;
    margin-right: 4px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    padding: 3px;
}

.openapi-property-type {
    font-weight: bold;
    color: #8792a2;
    color: #8792a2;
    font-size: 13px;
    /* font-size: var(--font12); */
    /* margin: 0; */
    margin-right: 4px;
}

.openapi-content-type {
    border: 1px solid #d0dadc;
    padding: 3px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 100;
}

.show-children::before {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    font-size: 10px;
}

.openapi-table-title {
    font-family: var(--font-regular);
    font-size: calc(var(--font-size-small) + 4px);
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left;
    color: var(--H2-COLOR);
}

.openapi-prop.collapsed::before {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    font-size: 10px;
    color: grey;
}

.openapi-prop::before {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    font-size: 10px;
}

.openapi-prop > code,
.openapi-prop > span {
    pointer-events: none;
}

.openapi-prop-content {
    border: 1px solid #f5ecec;
    border-radius: 9px;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;
}

.openapi-table-row.collapsed > *:nth-child(n+3){
    display: none;
}

.openapi-table-row > code {
    font-size: 13px;
}

.openapi-table-row > .expand {
    margin-bottom: 1rem;
}

.openapi-table-row > .expand > .expand-label {
    font-size: 1em;
    margin-bottom: 1em;
}

.response-codes {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

.response-code {
    border-radius: var(--border-radius);
    font-weight: 600;
    display: inline-block;
    padding: 6px 16px;
    font-size: var(--font-size-small);
    outline: 0px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    transition: background-color 0.2s ease 0s;
    user-select: none;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
}

.response-code.clicked {
    background-color: #dddfd9;
}

.no-border {
    margin-right: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
}