/* here in this showcase we use our own modified chroma syntax highlightning style;
   if you want to use a predefined style instead:
   - remove `markup.highlight.noClasses` from your config.toml
   - set `markup.highlight.style` to a predefined style name in your config.toml
   - remove the following `@import` of the self-defined chroma stylesheet */
@import "chroma-relearn-light.css";

:root {
    --PRIMARY-color: #7dc903; /* brand primary color */
    --SECONDARY-color: #486ac9; /* brand secondary color */

    --MAIN-TEXT-color: #101010; /* text color of content and h1 titles */
    --MAIN-LINK-color: #4183c4; /* hoverd link color of content */
    --MAIN-LINK-HOVER-color: #4183c4; /* hoverd link color of content */
    --MAIN-BG-color: #ffffff; /* background color of content */
    --MAIN-TITLES-TEXT-color: #4a4a4a; /* text color of h2-h6 titles and transparent box titles */

    /* adjusted to relearn-light chroma style */
    --CODE-BLOCK-color: white; /* fallback text color of block code; should be adjusted to your selected chroma style */
    --CODE-BLOCK-BG-color: #2e3440; /* fallback background color of block code; should be adjusted to your selected chroma style */
    --CODE-BLOCK-BORDER-color: #d8d8d8; /* border color of block code */

    --CODE-INLINE-color: #5e5e5e; /* text color of inline code */
    --CODE-INLINE-BG-color: #fffae9; /* background color of inline code */
    --CODE-INLINE-BORDER-color: #f8e8c8; /* border color of inline code */

    --MERMAID-theme: default; /* name of the default Mermaid theme for this variant, can be overridden in config.toml */
    --SWAGGER-theme: light; /* name of the default Swagger theme for this variant, can be overridden in config.toml */

    --MENU-HOME-LINK-color: #323232; /* home button color if configured */
    --MENU-HOME-LINK-HOVER-color: #808080; /* hoverd home button color if configured */

    --MENU-SEARCH-color: #e0e0e0; /* text and icon color of search box */
    --MENU-SEARCH-BG-color: #323232; /* background color of search box */
    --MENU-SEARCH-BORDER-color: #e0e0e0; /* border color of search box */

    --MENU-SECTIONS-BG-color: #282828; /* background of the menu; this is NOT just a color value but can be a complete CSS background definition including gradients, etc. */
    --MENU-SECTIONS-ACTIVE-BG-color: rgba( 0, 0, 0, .166 ); /* background color of the active menu section */
    --MENU-SECTIONS-LINK-color: #bababa; /* link color of menu topics */
    --MENU-SECTIONS-LINK-HOVER-color: #ffffff; /* hoverd link color of menu topics */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #444444; /* text color of the displayed menu topic */
    --MENU-SECTION-HR-color: #606060; /* separator color of menu footer */

    --BOX-CAPTION-color: rgba( 255, 255, 255, 1 ); /* text color of colored box titles */
    --BOX-BG-color: rgba( 255, 255, 255, .833 ); /* background color of colored boxes */
    --BOX-TEXT-color: rgba( 16, 16, 16, 1 ); /* text color of colored box content */

    --LIGHT-GREEN: rgb(106, 170, 33);


    /* TYPOGRAPHY */
    --MAIN-FONT: "Inter", sans-serif;

    /* SIZE */
    --TYPOGRAPHY-H1-SIZE: 40px;
    --TYPOGRAPHY-H2-SIZE: 32px;
    --TYPOGRAPHY-H3-SIZE: 28px;
    --TYPOGRAPHY-H4-SIZE: 24px;
    --TYPOGRAPHY-H5-SIZE: 18px;
    --TYPOGRAPHY-H6-SIZE: 16px;

    /* SIZE */
    --TYPOGRAPHY-H1-SIZE-SMALL: 28px;
    --TYPOGRAPHY-H2-SIZE-SMALL: 24px;
    --TYPOGRAPHY-H3-SIZE-SMALL: 20px;
    --TYPOGRAPHY-H4-SIZE-SMALL: 18px;
    --TYPOGRAPHY-H5-SIZE-SMALL: 16px;
    --TYPOGRAPHY-H6-SIZE-SMALL: 14px;

    /* LINE HEIGHTS */
    --TYPOGRAPHY-H1-HEIGHT: 48px;
    --TYPOGRAPHY-H2-HEIGHT: 40px;
    --TYPOGRAPHY-H3-HEIGHT: 30px;
    --TYPOGRAPHY-H4-HEIGHT: 26px;
    --TYPOGRAPHY-H5-HEIGHT: 24px;
    --TYPOGRAPHY-H6-HEIGHT: 22px;

    --TYPOGRAPHY-BODY-LINE-HEIGHT: 24px;

    /* WEIGHTS */
    --TYPOGRAPHY-THIN-TEXT: 250;
    --TYPOGRAPHY-LIGHT-TEXT: 300;
    --TYPOGRAPHY-REGULAR-TEXT: 400;
    --TYPOGRAPHY-SEMIBOLD-TEXT: 500;
    --TYPOGRAPHY-BOLD-TEXT: 700;

    --TYPOGRAPHY-BODY-TEXT: 16px;


    /* COLORS */
    --COLOR-LIGHT-GREEN: var(--green-200);

    --HEADERS-COLOR: var(--green-700);

    --SIDEBAR-BACKGROUND-COLOR:  #fafafa;

    --CONTENT-BACKGROUND-COLOR: #fafafa;
    --HEADER-BACKGROUND-COLOR: #fafafa;
    --H1-COLOR: #3f3b3b;
    --H2-COLOR: #534949;

    --TOC-ENTRY-COLOR:#4a4a4a;

    --CODEBLOCK-BACKGROUND-COLOR: #EEEEEE;
    --CODEBLOCK-TEXT-COLOR: rgb(45 49 56);
    --CODE-COLOR: #4c4c4c;
    --CODE-BG-COLOR: #f7f7f9;
    --TOC-ENTRY-COLOR: #4a4a4a;

    /* ADMONITIONS */
    --INFO-ICON-COLOR: var(--blue-500);
    --INFO-BG-COLOR: transparent;
    --INFO-BORDER-COLOR: var(--blue-500);

    --WARNING-ICON-COLOR: var(--orange-400);
    --WARNING-BG-COLOR: transparent;
    --WARNING-BORDER-COLOR: var(--orange-400);

    --DANGER-ICON-COLOR: var(--red-500);
    --DANGER-BG-COLOR: transparent;
    --DANGER-BORDER-COLOR: var(--red-500);

    --TIP-ICON-COLOR: var(--green-600);
    --TIP-BG-COLOR: transparent;
    --TIP-BORDER-COLOR: var(--green-600);

    --SECURITY-ICON-COLOR: var(--orange-400);
    --SECURITY-BG-COLOR: transparent;
    --SECURITY-BORDER-COLOR: var(--orange-400);
}
