baseURL: "https://docs.arango.ai"
languageCode: "en-us"
title: "ArangoDB Documentation"
theme: "arangodb-docs-theme"
timeout: "200000000"

disableKinds: # Switch off tags and categories
  - taxonomy
  - term

module:
  mounts:
    - source: "themes/arangodb-docs-theme/images"
      target: "static/images"
    
    - source: "content/images"
      target: "assets/images"

    - source: "static"
      target: "static"

# Version folders can be ignored temporarily for faster local builds
# of a single version (here: 3.12)
    - source: content
      target: content
      excludeFiles:
#       - arangodb/3.10/*
#       - arangodb/3.11/*
#       - arangodb/3.13/*

    - source: content/arangodb/3.12
      target: content/arangodb/stable

    - source: content/arangodb/3.13
      target: content/arangodb/devel

markup:
  highlight:
    noClasses: false
  goldmark:
    renderer:
      unsafe: true
    parser:
      attribute:
        block: true
        title: true
    extensions:
      typographer:
        # The automatic conversion of two hyphens to an en dash interferes with
        # search examples using the IMDB dataset (in result tables)
        emDash: '---'
        enDash: '--'

outputFormats:
  navigation:
    baseName: nav
    isHTML: true
    mediaType: text/html
  notfound:
    baseName: notfound
    isHTML: true
    mediaType: text/html

outputs:
  home: ["HTML", "navigation", "notfound"]

enableRobotsTXT: true

caches:
  assets:
    dir: :resourceDir/_gen
    maxAge: -1
  getcsv:
    dir: :cacheDir/:project
    maxAge: 0
  getjson:
    dir: :cacheDir/:project
    maxAge: -1
  getresource:
    dir: :cacheDir/:project
    maxAge: 0
  images:
    dir: :resourceDir/_gen
    maxAge: -1
  modules:
    dir: :cacheDir/modules
    maxAge: -1

params:
  arangoproxyUrl: "http://192.168.129.129:8080"
  description: >-
    ArangoDB is a scalable graph database system with native support for other
    data models and a built-in search engine, for the cloud and on-premises
  collapsibleMenu: true
  titleSeparator: "|"
  themeVariant: [ "relearn-light" ]
