<nav class="breadcrumbs">
  <ol class="links" itemscope itemtype="http://schema.org/BreadcrumbList">
  <meta itemprop="itemListOrder" content="Descending" />
  {{ range .Ancestors.Reverse -}}
    {{ if not .IsHome -}}
    <li itemscope itemtype="https://schema.org/ListItem" itemprop="itemListElement">
      <meta itemprop="position" content="{{ .Params.menuTitle | markdownify }}" />
      <a itemprop="item" class="link" href="{{ .RelPermalink }}">
        <span itemprop="name" class="breadcrumb-entry">
        {{ if eq .Path "/arangodb/" -}}
          {{ $coreVersion := index (split .Path "/") 2 }}
          {{ template "getVersionLong" dict "coreVersion" $coreVersion -}}
        {{ else -}}
          {{ .Params.menuTitle | markdownify -}}
        {{ end -}}
        </span>
      </a>
      <i class="fas fa-chevron-right fa-fw"></i>
    </li>
    {{ end -}}
  {{ end -}}   
  {{ if not .IsHome -}}
  <li itemscope itemtype="https://schema.org/ListItem" itemprop="itemListElement">
    <meta itemprop="position" content="{{ .Params.menuTitle | markdownify }}" />
    <a itemprop="item" class="link" href="{{ .RelPermalink }}">
      <span itemprop="name" class="breadcrumb-entry">
      {{ if eq .Path "/arangodb/" -}}
        {{ $coreVersion := index (split .Path "/") 2 }}
        {{ template "getVersionLong" dict "coreVersion" $coreVersion -}}
      {{ else -}}
        {{ .Params.menuTitle | markdownify -}}
      {{ end -}}
      </span>
    </a>
  </li>
  {{ end -}}
  </ol>
</nav>

{{ define "getVersionLong" -}}
  {{ $coreVersion := .coreVersion -}}
  {{ $versions := index site.Data.versions "/arangodb/" -}}
  {{ range $i, $version := $versions -}}
    {{ if eq $coreVersion $version.name -}}
      {{ $version.version -}}
    {{ end -}}
  {{ end -}}
{{ end -}}
