<span class="prev">
  {{- with ($.Scratch.Get "relearnPrevPage") }}
          
          <a class="nav nav-prev" href="{{.RelPermalink}}" title="{{.Params.menuTitle}} (&#129104;)">
            <i class="fas fa-chevron-left fa-fw"></i><p>{{.Params.menuTitle | markdownify}}</p></a>
          {{- end}}
  
</span>

<span class="next">
  {{- with ($.Scratch.Get "relearnNextPage") }}
            <a class="nav nav-next" href="{{.RelPermalink}}" title="{{.Params.menuTitle}} (&#129106;)">
              <p>{{.Params.menuTitle | markdownify}}</p><i class="fas fa-chevron-right fa-fw"></i></a>
          {{- end }}
</span>
