{{- $assetBusting := not .Site.Params.disableAssetsBusting }}

{{- if (fileExists "favicon-96x96.png") }}
<link href="{{ "favicon-96x96.png" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" rel="icon" type="image/png" sizes="96x96">
{{- end }}

{{- if (fileExists "favicon.svg") }}
<link href="{{ "favicon.svg" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" rel="icon" type="image/svg+xml">
{{- else if (fileExists "favicon.png") }}
<link href="{{ "favicon.png" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" rel="icon" type="image/png">
{{- end }}

{{- if (fileExists "favicon.ico") }}
<link href="{{ "favicon.ico" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" rel="shortcut icon">
{{- end }}

{{- if (fileExists "apple-touch-icon.png") }}
<link href="{{ "apple-touch-icon.png" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" rel="apple-touch-icon" sizes="180x180">
{{- end }}

{{- if (fileExists "site.webmanifest") }}
<link rel="manifest" href="{{ site.webmanifest | relURL }}">
{{- end }}