{{- $assetBusting := not .Site.Params.disableAssetsBusting }}
{{- if (fileExists "images/favicon.ico") }}
<link href="{{ "images/favicon.ico" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" rel="icon" type="image/x-icon" sizes="any">
{{- end }}
{{- if (fileExists "images/favicon.svg") }}
<link href="{{ "images/favicon.svg" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" rel="icon" type="image/svg+xml">
{{- else if (fileExists "images/favicon.png") }}
<link href="{{ "images/favicon.png" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" rel="icon" type="image/png">
{{- end }}
{{- if (fileExists "images/apple-touch-icon.png") }}
<link href="{{ "images/apple-touch-icon.png" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" rel="apple-touch-icon" sizes="180x180">
{{- end }}