<!-- HEADER -->
  <header id="header" style="transition: 0.5s padding ease-out, 0.15s" class="zn_header_white header-splash-new nav-down header-splash-wrap header1">
    <!--LOGO-->
    <div class="header-block-left">
    <div class="mobile-menu-toggle">
      <button id="sidebar-toggle-navigation" onclick="showSidebarHandler()">
        <svg width="1.33em" height="1.33em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      </button>
    </div>
    <div class="version-logo-container">
      <div class="logo-container hasinfocard_img arangodb-logo-large">
        <div class="logo "><a href="https://www.arangodb.com/"><img src="/images/logo_main.png" alt="ArangoDB" title=""></a></div>
      </div>
      <!-- END LOGO-->
      <div class="arangodb-logo-small">
        <a href="https://arangodb.com/">
          <img alt="ArangoDB Logo" src="/images/ArangoDB_Logo_White_small.png">
        </a>
      </div>   
      
    </div>
    </div>
    <div class="container-right" style="display: hidden;">
    </div>
    <div class="search-and-version-container" >
      <a href="#" class="home-link is-current" aria-label="Go to home page" onclick="goToHomepage(event);"></a>
      <div id="searchbox">
      </div>
      {{ partialCached "inkeep-widget.html" . -}}
      {{ partialCached "version-selector.html" . }}
    </div>

  </header>