<head>
  {{ partialCached "stylesheet.html" . -}}

  {{ partial "meta.html" . -}}
  <title>{{ if and .Title (not (eq .Title .Site.Title)) }}{{ .Title | markdownify | plainify | safeHTML }} {{ default "::" .Site.Params.titleSeparator }} {{ end }}{{ .Site.Title }}</title>
  <link href="{{ "/images/favicon.png" | relURL }}" rel="icon" type="image/png">
  {{ partialCached "javascript.html" . -}}

  {{ $isProduction := eq site.BaseURL "https://docs.arangodb.com" -}}
  {{ if $isProduction -}}
    {{- partialCached "tracking/gtag.html" . -}}
    {{- partialCached "tracking/twitter.html" . -}}
    {{- partialCached "tracking/linkedin.html" . -}}
  {{ end -}}
</head>
