<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />

<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>

<script type="text/javascript">
  window.setupDocSearch = function (facetVersion) {
    if (!window.docsearch) return;
    docsearch({
      appId: "OK3ZBQ5982",
      apiKey: "500c85ccecb335d507fe4449aed12e1d",
      indexName: "arangodbdocs",
      insights: true, // Optional, automatically send insights when user interacts with search results
      container: "#searchbox",
      debug: false, // Set debug to true if you want to inspect the modal,
      maxResultsPerGroup: 10,
      searchParameters: {
        facetFilters: [`version:${facetVersion}`],
      },
    });
  };
</script>
