{{- /*
  Structured data (JSON-LD) for rich snippets / Google rich results.

  - Home page          -> WebSite
  - Docs & list pages  -> TechArticle (Google treats this as Article)
*/ -}}
{{- $pageDescription := .Description | default .Site.Params.description | markdownify | plainify | htmlUnescape -}}
{{- $publisher := dict
    "@type" "Organization"
    "name" "Arango"
    "url" "https://arango.ai"
    "logo" (dict "@type" "ImageObject" "url" (absURL "Arango_logo.png")) -}}
{{- $schema := dict -}}

{{- if .IsHome -}}
  {{- $schema = dict
      "@context" "https://schema.org"
      "@type" "WebSite"
      "name" .Site.Title
      "url" .Site.BaseURL
      "description" $pageDescription
      "publisher" $publisher -}}
{{- else if or .IsPage .IsSection -}}
  {{- /* Mirror the document <title>: append the site title for context,
         matching head.html (e.g. "Edge :: ArangoDB Documentation"). */ -}}
  {{- $title := .Title | markdownify | plainify | htmlUnescape -}}
  {{- $headline := $title -}}
  {{- if and $title (ne $title .Site.Title) -}}
    {{- $headline = printf "%s %s %s" $title (.Site.Params.titleSeparator | default "::") .Site.Title -}}
  {{- end -}}
  {{- $schema = dict
      "@context" "https://schema.org"
      "@type" "TechArticle"
      "headline" $headline
      "description" $pageDescription
      "url" .Permalink
      "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
      "inLanguage" (.Language.Lang | default "en")
      "author" $publisher
      "publisher" $publisher -}}

  {{- if not .Lastmod.IsZero -}}
    {{- $schema = merge $schema (dict "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00")) -}}
  {{- end -}}
{{- end -}}

{{- if $schema }}
<script type="application/ld+json">
{{ jsonify (dict "indent" "  ") $schema | safeJS }}
</script>
{{- end -}}
