<div class="toc-container">
    <div class="toc">
        <div class="toc-content">
        <div class="toc-header"><p>On this page</p></div>
        <nav id="TableOfContents" >
            <nav id="TableOfContents">
              <nav class="ps">
                {{ template "nestedHeadline" dict "headings" .Page.Fragments.Headings "level" 1 }}
              </nav>
            </nav>
        </nav>
        </div>
    </div>
</div>

{{ define "nestedHeadline" }}
{{ $headings := .headings }}
{{ $level := .level | default 1 }}
{{ $maxLevel := page.Params.pageToc.maxHeadlineLevel | default 5 }}
{{ $disabled := page.Params.pageToc.disabled | default false }}
{{ if le $level $maxLevel }}
  {{ range $h := $headings }}
    {{ with $h.Title }}<div class="level-{{ $level }}"><a href="#{{ $h.ID }}">{{ $h.Title }}</a></div>{{ end }}
    {{ template "nestedHeadline" dict "headings" $h.Headings "level" (add $level 1) }}
  {{ end }}
{{ end }}
{{ end }}