{{- $page := .Page }}
{{- $pageVersion := .Page.Store.Get "versionShort" }}
{{- $title := .Page.Scratch.Get "currentHeadline" }}
{{- $endpoint := printf "%s/openapi" site.Params.arangoproxyUrl }}

{{- $linkMap := dict }}
{{- range $match := findRESubmatch `\[([^\]]+)\]\((.*?)\)` .Inner }}
  {{- $url := index $match 2 }}
  {{- $isRemote := ne (urls.Parse $url).Scheme "" }}
  {{- if not $isRemote }}
    {{- $absUrl := printf "https://docs.arangodb.com%s" (urls.RelRef $page $url) }}
    {{- $newLink := printf "[%s](%s)" (index $match 1) $absUrl }}
    {{- $linkMap = merge $linkMap (dict (index $match 0) $newLink) }}
  {{- end }}
{{- end }}
{{- $innerAbsLinks := .Inner }}
{{- range $old, $new := $linkMap }}
  {{- $innerAbsLinks = replace $innerAbsLinks $old $new }}
{{- end }}
{{- $remote := resources.GetRemote $endpoint (dict
    "method" "post"
    "body" $innerAbsLinks
    "headers" (dict 
      "Content-Type" "application/json"
      "Page-Version" $pageVersion
      "Endpoint-Title" $title
    )
  )
}}
{{- $title = $title | urlize }}
{{- $yamlBlock := .Inner | transform.Unmarshal }}
{{- with $yamlBlock }}
  <div class="openapi">
  {{- range $path, $methods := .paths }}
    {{- range $method, $items := $methods }}
      <div class="endpoint">
        <span class="endpoint-method regular-font upper bold-text method-{{ $method }}">{{ $method }}</span>
        <span class="endpoint-path">{{ replaceRE "#.*" "" $path }}</span>
      </div>
      <div class="openapi-description regular-font">
        {{- $items.description | $page.RenderString }}
      </div>
      {{- with .parameters }}
        {{- template "renderParameters" dict "title" $title "content" . "page" $page }}
      {{- end }}
      {{- with .requestBody }}
        {{- template "renderRequestBody" dict "title" $title "content" . "page" $page }}
      {{- end }}
      {{- with .responses }}
        {{- template "renderResponses" dict "title" $title "content" .  "page" $page }}
      {{- end }}
    {{- end }}
  {{- end }}
  </div>
{{- end }}

{{- define "renderParameters" }}
  {{- $title := .title }}
  {{- $content := .content }}
  {{- $page := .page }}
  <div class="openapi-parameters regular-font">
    <div class="openapi-table-title">Path Parameters</div>
    <div>
      <ul class="openapi-table">
      {{- range $k, $v := $content }}
        {{- template "renderParameter" dict "title" $title "prop" $v.name "value" $v "category" "path" "page" $page}}
      {{- end }}
      </ul>
    </div>
  </div>
  <div class="openapi-parameters regular-font">
    <div class="openapi-table-title">Query Parameters</div>
    <div>
      <ul class="openapi-table">
      {{- range $k, $v := $content }}
        {{- template "renderParameter" dict "title" $title "prop" $v.name "value" $v "category" "query" "page" $page}}
      {{- end }}
      </ul>
    </div>
  </div>
  <div class="openapi-parameters regular-font">
    <div class="openapi-table-title">HTTP Headers</div>
    <div>
      <ul class="openapi-table">
      {{- range $k, $v := $content }}
        {{- template "renderParameter" dict "title" $title "prop" $v.name "value" $v "category" "header" "page" $page}}
      {{- end }}
      </ul>
    </div>
  </div>
{{- end }}

{{- define "renderRequestBody" }}
  {{- $title := printf "%s_%s" .title "body" }}
  {{- $content := .content }}
  {{- $page := .page }}
  <div class="openapi-parameters regular-font">
    {{- $contentType := "" }}
    {{- $schemaType := "" }}
    {{- $schemaDefaultSet := false }}
    {{- $schemaDefault := "" }}
    {{- range $k, $v := $content.content }}
      {{- $contentType = $k }}
      {{- $schemaType = $v.schema.type }}
      {{- $schemaDefaultSet = isset $v.schema "default" }}
      {{- $schemaDefault = $v.schema.default }}
    {{- end }}
    <div class="openapi-table-title">Request Body <span class="openapi-content-type">{{ $contentType }}</span>
    {{- with $schemaType }}
      {{- if ne . "array" }} <span class="openapi-property-type">{{ . }}
        {{- if $schemaDefaultSet }} <span style="font-weight: normal">(default: <code>{{ $schemaDefault | jsonify }}</code>)</span>{{ end }}</span>
      {{- end }}
    {{- end }}
    </div>
    <div>
      <ul class="openapi-table">
      {{- range $k, $v := $content.content }}
        {{- if eq $v.schema.type "array" }}
          {{- $required := false }}
          {{- template "renderProperty" dict "title" $title "prop" "" "value" $v.schema "required" $required "page" $page }}
        {{- else }}
          {{- with $v.schema.description }}{{ . | $page.RenderString }}{{ end }}
          {{- range $prop, $value := $v.schema.properties}}
            {{- $required := in $v.schema.required $prop }}
            {{- template "renderProperty" dict "title" $title "prop" $prop "value" $value "required" $required "page" $page }}
          {{- end }}
        {{- end }}
      {{- end }}
      </ul>
    </div>
  </div>
{{- end }}

{{- define "renderResponses" }}
  {{- $title := .title }}
  {{- $content := .content }}
  {{- $page := .page }}
  {{- $statusMap := dict
    "200" "OK"
    "201" "Created"
    "202" "Accepted"
    "204" "No Content"
    "304" "Not Modified"
    "400" "Bad Request"
    "401" "Unauthorized"
    "403" "Forbidden"
    "404" "Not Found"
    "405" "Method Not Allowed"
    "408" "Request Timeout"
    "409" "Conflict"
    "410" "Gone"
    "412" "Precondition Failed"
    "500" "Internal Server Error"
    "501" "Not Implemented"
    "503" "Service Unavailable"
    "504" "Gateway Timeout"
  }}
  <div class="responses regular-font">
    <div class="openapi-table-title">Responses</div>
    <div class="openapi-responses">
      <ul class="openapi-table">
      {{- range $status, $content := $content }}
        {{- $statusId :=  printf "%s_res_%s" $title $status }}
        <li class="openapi-table-row regular-font">
          <details  id="{{ printf "%s" $statusId }}">
          <summary class="openapi-prop collapsed">
            <span class="openapi-property-name bold-text">{{ $status }}</span>
            {{- $statusDescription := index $statusMap $status }}
            {{- if not $statusDescription }}{{ errorf "OpenAPI: %v missing in HTTP status code mapping" $status }}{{ end }}
            <span class="openapi-property-type bold-text">{{ $statusDescription }}</span>
            <a href="{{ printf "#%s" $statusId }}"><i class="fa fa-link" style="font-size: 12px;"></i></a>
          </summary>
            {{- $description := $content.description | $page.RenderString }}
            <div class="openapi-prop-content">
              <p class="regular-font">{{ $description }}</p>
              {{- if $content.content }}
                <ul class="openapi-table">
                  {{- $contentType := "" }}
                  {{- $schemaType := "" }}
                  {{- range $k, $v := $content.content }}
                    {{- $contentType = $k }}
                    {{- $schemaType = $v.schema.type }}
                  {{- end }}
                  <div class="openapi-table-title">Response Body <span class="openapi-content-type">{{ $contentType }}</span>
                    {{- with $schemaType }}{{ if ne . "array" }} <span class="openapi-property-type">{{ . }}</span>{{ end }}{{ end -}}
                  </div>
                  {{- range $k, $v := $content.content }}
                    {{- if eq $v.schema.type "array" }}
                      {{- $required := false }}
                      {{- template "renderProperty" dict "title" $statusId "prop" "" "value" $v.schema "required" $required "page" $page}}
                    {{- else }}
                      {{- with $v.schema.description }}{{ . | $page.RenderString }}{{ end }}
                      {{- range $prop, $value := $v.schema.properties}}
                        {{- $required := in $v.schema.required $prop }}
                        {{- template "renderProperty" dict "title" $statusId "prop" $prop "value" $value "required" $required "page" $page}}
                      {{- end }}
                    {{- end }}
                  {{- end }}
                </ul>
              {{- end }}
            </div>
          </details>
        </li>       
      {{- end }}
      </ul>
    </div>
  </div>
{{- end }}

{{- define "renderParameter" }}
  {{- $title := .title }}
  {{- $category := .category }}
  {{- $prop := .prop }}
  {{- $value := .value }}
  {{- $page := .page }}
  
  {{- if eq $category $value.in }}
    {{- $structName := "" }}
    {{- $anchor := printf "%s_%s_%s" $title $category $prop }}
    <li class="openapi-table-row regular-font">
      <details  id="{{ $anchor }}">
        <summary class="openapi-prop collapsed">
          <span class="openapi-property-name bold-text">{{ $prop }}{{ if $value.required }}*{{ end }}</span>
          <span class="openapi-property-type">
            <span class="bold-text">{{ $value.schema.type }}</span>
            {{- if isset $value.schema "default" }} (default: <code>{{ $value.schema.default }}</code>){{ end }}
          </span>
          <a href="{{ printf "#%s" $anchor }}"><i class="fa fa-link" style="font-size: 12px;"></i></a>
        </summary>
        {{- $description := $value.description | $page.RenderString }}
        <div class="openapi-prop-content">
          <p class="regular-font">{{ $description }}</p>
        </div>
      </details>
    </li>
  {{- end }}
{{- end }}

{{- define "renderProperty" }}
  {{- $title := .title }}
  {{- $prop := .prop }}
  {{- $value := .value }}
  {{- $required := .required }}
  {{- $page := .page }}

  {{- $type := $value.type }}
  {{- $anchor := printf "%s_%s" $title $prop }}
  <li class="openapi-table-row regular-font">
    {{- if and (eq $value.type "array") ($value.items.type) }}
      {{- $type = printf "array of %ss" $value.items.type }}
    {{- else if eq $value.type "object" }}
      {{- $type = "object" }}
    {{- end }}
    <details id="{{ $anchor }}">
      <summary class="openapi-prop collapsed">
        <span class="openapi-property-name bold-text {{ if eq $prop "" }} no-border {{ end }} ">{{ $prop }}{{ if $required }}*{{ end }}</span>
        <span class="openapi-property-type">
          <span class="bold-text">{{ $type }}</span>
          {{- if isset $value "default" }} (default: <code>{{ $value.default | jsonify }}</code>){{ end }}
        </span>
        <a href="#{{ $anchor }}"><i class="fa fa-link" style="font-size: 12px;"></i></a>
      </summary>
      {{- $description := $value.description | $page.RenderString }}
      <div class="openapi-prop-content">
        <p class="regular-font">{{ $description }}</p>
        {{- if isset $value "enum" }}
          <p class="regular-font">Possible values:
            {{- range $i, $val := $value.enum }}
              {{- if gt $i 0 }},{{ end }} <code>{{ . | jsonify }}</code>
            {{- end }}
          </p>
        {{- end }}
        {{- if and ($value.items) (isset $value.items "enum") }}
          <p class="regular-font">Possible values:
            {{- range $i, $val := $value.items.enum }}
              {{- if gt $i 0 }},{{ end }} <code>{{ . | jsonify }}</code>
            {{- end }}
          </p>
        {{- end }}
        {{- if $value.properties }}
          <ul class="openapi-table">
          {{- range $k, $v := $value.properties }}
            {{- $required = in $value.required $k }}
            {{- template "renderProperty" dict "title" $anchor "prop" $k "value" $v "required" $required "page" $page }}
          {{- end }}
          </ul>
        {{- end }}
        {{- if $value.items.properties }}
          <ul class="openapi-table">
          {{- range $k, $v := $value.items.properties }}
            {{- $required = in $value.items.required $k }}
            {{- template "renderProperty" dict "title" $anchor "prop" $k "value" $v "required" $required "page" $page }}
          {{- end }}
          </ul>
        {{- end }}
      </div>
    </details>
  </li>
{{- end }}
