{{ $program := .Get "name" }}

{{ $pageVersion := .Page.Store.Get "versionShort" }}

{{ $dataFolderByVersion := index site.Data $pageVersion }}
{{ $options := index $dataFolderByVersion $program }}
{{ with $options }}
{{ $currentSection := "general" }}
## General
{{ range $name, $option := . }}

{{ if and (ne $currentSection $option.section) (ne $option.section "" ) }}
## {{ $option.section }}
{{ $currentSection = $option.section }}
{{ end }}

### `--{{ $name }}`




{{ with $option.introducedIn }}
<small>
    Introduced in: v{{ . }}
</small>
{{ end }}

{{ with $option.deprecatedIn }}
<small>
    Deprecated in: `{{ .  }}`
</small>
{{ end }}

{{ with $option.enterpriseOnly }}
*Enterprise Edition only*
{{ end }}

**Type**: {{ $option.type }}

{{ $option.description }}

{{ if and (eq $option.requiresValue true ) (ne $option.category "command" )}}
This option can be specified without a value to enable it.
{{ end }}

{{ if eq $option.category "command" }}
This is a command, no value needs to be specified. The process terminates after executing the command.
{{ end }}

{{ with $option.default }}
    {{ if ne $option.category "command"}}

        {{ if $option.dynamic }}
Default: _dynamic_ (e.g. `{{ $option.default }}`)
        {{ else }}
Default: (e.g. `{{ $option.default }}`)
        {{ end }}
    {{ end }}
{{ end }}

{{ with $option.values }}
{{ $option.values }}
{{ end }}

{{ with $option.os }}
{{ $size := $option.os | len }}
{{ if lt $size 3}}
Available on {{ $option.os }} only.
{{ end }}
{{ end }}

{{ with $option.component }}
    {{ $size := $option.component | len }}

    {{ if lt $size 4}}
Effective on {{ $option.component }} only.
    {{ end }}
{{ end }}

{{ with $option.longDescription }}
{{ partial "shortcodes/expand.html" dict "title" "Show details" "content" $option.longDescription }}
{{ end }}

---

{{ end }}
{{ end }}