{{ $tooltips := dict
  "AMP"                 "This feature is available in the Arango Managed Platform (AMP)"
  "Data Platform"       "This feature is available in the Arango Data Platform and GenAI Data Platform"
  "GenAI Data Platform" "This feature is available in the Arango GenAI Data Platform but not the Data Platform"
  "arangosh"            "This feature is available in the ArangoDB Shell"
  "ArangoDB Enterprise Edition" "This feature is available in the Enterprise Edition but not the Community Edition of ArangoDB"
-}}
<p class="labels">
{{ range $.Params }}
  <span class="label"{{ with index $tooltips . }} title="{{ . }}"{{ end }}>{{ . }}</span>
{{ end }}
</p>
