{{ $tooltips := dict
  "Experimental"      "This feature is available for testing but may still change or get removed"
  "AMP"               "This feature is available in the Arango Managed Platform (AMP)"
  "Platform Suite"    "This feature is available in the Arango Contextual Data Platform without the Agentic AI Suite"
  "Agentic AI Suite"  "This feature is available in the Arango Contextual Data Platform with the Agentic AI Suite"
  "Contextual Data Platform"  "This feature is available in the Arango Contextual Data Platform"
  "arangosh"          "This feature is available in the ArangoDB Shell"
  "ArangoDB Enterprise Edition" "This feature is available in the Enterprise Edition but not the Community Edition of ArangoDB"
-}}

<p class="labels">
{{ range $.Params }}
  <span class="label"{{ with index $tooltips . }} title="{{ . }}"{{ end }}>{{ . }}</span>
{{ end }}
</p>