{{ $context := .context }}
{{ $content := .content }}
{{ $language := .language }}

{{ $metadata := findRE `(?ms)^---.*?^---` $content }}
{{ $test := index $metadata 0 | transform.Unmarshal }}
{{ $name := $test.name }}
{{ $description := $test.description }}
{{ $type := $test.type | default "single" }}
{{ $cacheEntry := printf "%s_%s" $name $type }}
{{ $pageVersion := $context.Page.Scratch.Get "versionShort" }}

{{ $dataFolderByVersion := index site.Data $pageVersion }}
{{ $cache := index $dataFolderByVersion "cache"}}
{{ $cacheFound :=  index $cache $cacheEntry }}


{{ if site.Params.useArangoproxy }}
    {{ $saveCache := true }}


    {{ with $cacheFound }}
        {{ $oldRequest := $cacheFound.request }}
        {{ $newRequest :=  printf "%s" $content | base64Encode  }}

        {{ if eq $oldRequest $newRequest }}
            {{ if $context.Page.Scratch.Get $name }}
                {{ $response := .response | base64Decode | transform.Unmarshal }}
                {{- partial "shortcodes/examples/render.html" (dict
                "context" .
                "content" $response
                "name" $name
                "description" $description
                "language" $language
                ) }}
            {{ else }}
                {{- partial "shortcodes/examples/generate.html" (dict
                "context" $context
                "example" $content
                "language" $language
                "name" $name
                "description" $description
                "cache" false
                "version" $pageVersion
                ) }}
                {{ $context.Page.Scratch.Set $name "true" }}
            {{ end }}

        {{ else }}
            {{- partial "shortcodes/examples/generate.html" (dict
            "context" $context
            "example" $content
            "language" $language
            "name" $name
            "description" $description
            "cache" $saveCache
            "version" $pageVersion
            ) }}
            {{ $context.Page.Scratch.Set $name "true" }}
        {{ end }}
    {{ else }}
        {{- partial "shortcodes/examples/generate.html" (dict
        "context" $context
        "example" $content
        "language" $language
        "name" $name
        "description" $description
        "cache" $saveCache
        "version" $pageVersion
        ) }}
        {{ $context.Page.Scratch.Set $name "true" }}
    {{ end }}

{{ else }}
    {{ with $cacheFound }}
        {{ $response := .response | base64Decode | transform.Unmarshal }}
        {{- partial "shortcodes/examples/render.html" (dict
        "context" .
        "content" $response
        "name" $name
        "description" $description
        "language" $language
        ) }}
    {{ else }}
        {{ transform.Highlight $content "" }} 
    {{ end }}
{{ end }}


