{{ $context := .context }}
{{ $content := .content }}
{{ $language := .language }}

{{ $metadata := findRE `(?ms)---.*---` $content }}
{{ $test := index $metadata 0 | transform.Unmarshal }}
{{ $name := $test.name }}
{{ $version := $test.version }}
{{ $serverName := $test.server_name }}
{{ $description := $test.description }}
{{ $type := $test.type }}
{{ $cacheEntry := printf "%s_%s_%s" $name $serverName $type }}
{{ $pageVersion := $context.Scratch.Get "versionShort" }}

{{ $dataFolderByVersion := index site.Data $pageVersion }}
{{ $cache := index $dataFolderByVersion "cache"}}
{{ $cacheFound :=  index $cache $cacheEntry }}


{{ with $cacheFound }}
    {{ $oldRequest := $cacheFound.request }}
    {{ $newRequest :=  printf "%s" $content | base64Encode  }}

    {{ if ne $oldRequest $newRequest }}
        {{ warnf "CACHE CHANGED '%v' '%v'" $oldRequest $newRequest }}

        {{ if site.Params.useArangoproxy }}
        {{- partial "shortcodes/examples/generate.html" (dict
        "context" .
        "example" $content
        "language" $language
        "name" $name
        "description" $description
        ) }}
        {{ return }}
        {{ end }}
    {{ end }}

    {{ $response := .response | base64Decode | transform.Unmarshal }}
    {{- partial "shortcodes/examples/render.html" (dict
    "context" .
    "content" $response
    "name" $name
    "description" $description
    ) }}
{{ else }}
    {{- partial "shortcodes/examples/generate.html" (dict
    "context" .
    "example" $content
    "language" $language
    "name" $name
    "description" $description
    ) }}
{{ end }}