{{ $context := .context }}
{{ $example := .example }}
{{ $language := .language }}
{{ $options := .options }}
{{ $saveCache := .cache }}
{{ $version := .version }}

{{ $endpoint := printf "%s/%s" site.Params.arangoproxyUrl $language }}
{{ $body := $example | base64Encode}}
{{ $remote := resources.GetRemote $endpoint (dict
    "method" "post"
    "body" $body
    "headers" (dict 
        "Content-Type" "application/json"
        "Codeblock-Path" $context.Position
        "Cache" $saveCache
        "Version" $version
    )
)
}}
{{ if $remote }}
    {{ $response := unmarshal $remote.Content }}
    {{- partial "shortcodes/examples/render.html" (dict
    "context" .
    "content" $response
    "options" $options
    "language" $language
    ) }}
{{ end }}