{{- /* Sends the example to arangoproxy and returns its response (empty dict on failure) */}}
{{- $context := .context }}
{{- $example := .example }}
{{- $language := .language }}
{{- $saveCache := .cache }}
{{- $version := .version }}

{{- $endpoint := printf "%s/%s" site.Params.arangoproxyUrl $language }}
{{- $body := $example | base64Encode }}
{{- $remote := resources.GetRemote $endpoint (dict
    "method" "post"
    "body" $body
    "headers" (dict
        "Content-Type" "application/json"
        "Codeblock-Path" $context.Position
        "Cache" $saveCache
        "Version" $version
    )
)
}}
{{- $response := dict }}
{{- with $remote }}
    {{- $response = unmarshal .Content }}
{{- end }}
{{- return $response }}
