{{ $options := .options }}
{{ $content := .content }}
{{ $language := .language }}

{{ if eq .language "curl" }}
    {{ $language = "bash" }}
{{ end }}

<p>{{ $options.description }}</p>

{{ $input := transform.Highlight $content.input $language }}
{{ $input }}

{{ if $options.bindVars }}
<strong>Bind Parameters</strong><br>

{{ $bindVars := $options.bindVars | jsonify (dict "indent" "  ") }}
{{ transform.Highlight $bindVars "json" }}
{{ end }}

{{ $output := transform.Highlight $content.output $language }}
{{ $block := printf "%s" $output | markdownify}}
    {{- partial "shortcodes/expand.html" (dict
    "content" $block
    "open"    "open"
    "title"   "Show output"
) }}
<br>