{{- $context := .context }}
{{- $options := .options }}
{{- $content := .content }}
{{- $language := .language }}

{{- if eq .language "curl" }}
  {{- $language = "bash" }}
{{- end }}

{{- /* Ensure that a single paragraph is also wrapped in <p></p> */}}
{{- $options.description | $context.Page.RenderString (dict "display" "block") }}

{{- $input := transform.Highlight $content.input $language }}
{{ $input }}

{{- if $options.bindVars }}
<strong>Bind Parameters</strong>
<br>
{{- $bindVars := $options.bindVars | jsonify (dict "indent" "  ") }}
{{ transform.Highlight $bindVars "json" }}
{{- end }}

{{- $output := transform.Highlight $content.output $language }}
{{- $block := printf "%s" $output }}
{{- partial "shortcodes/expand.html" (dict
  "context" $context
  "content" $block
  "open"    "open"
  "title"   "Show output"
) }}
<br>
