<nav id="breadcrumbs">
    <a href="#" class="sidebar-toggle-navigation">
      <span></span>
      <span></span>
      <span></span>
    </a>

<a href="#" class="home-link is-current" aria-label="Go to home page" onclick="goToHomepage(event);"></a>
  <ol class="links" itemscope itemtype="http://schema.org/BreadcrumbList">
    <meta itemprop="itemListOrder" content="Descending" />
  </ol>
<a class="edit-page" aria-label="" href="https://github.com/arangodb/docs/edit/main/site/content/{{ .Path }}" target="_blank"><i class="fab fa-fw fa-github"></i>
  Contribute</a>
</nav>

