
<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}">

  <head>
    {{- partial "stylesheet.html" . }}
    {{- partial "meta.html" . }}
    <link href="{{ "/images/favicon.png" | relURL }}" rel="icon" type="image/png">
    {{- partial "javascript.html" . }}
  </head>

<body>
    <noscript>You need to enable JavaScript to use the ArangoDB documentation.</noscript>
    <div class="page-wrapper page_content_splash" style="height: auto;opacity: 0;">
        <section class="page-main">
            <section class="page-container">
                {{ partialCached "header.html" . }}
                <iframe src="/nav.html" title="description" class="menu-iframe active" style="opacity: 0;"></iframe>

            
                <div class="container-main">
                  <div class="row-main">
                  </div>
                </main><!-- #body-inner -->
              </div><!-- #body -->
          {{- partialCached "back-to-top.html" . }}
          {{ partialCached "search.html" . }}
            </body>
</html>
